<link rel="stylesheet" href="styles/header.css" />

<header>
  <img src="./images/logo.png" alt="f1-logo" class="logo" />
  <input type="text" class="search" placeholder="Buscar..." />
  <div class="links">
    <a href="" class="currentPage">Home</a>
    <a href="/news">Noticias</a>
    <a href="">Carreras</a>
    <a href="">Pilotos</a>
    <a href="">Equipos</a>
  </div>
  <a class="login" href="/login">Log In</a>
</header>
