@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100vh;
  font-family: "Montserrat", system-ui;

  background-color: var(--form-page-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 0;
  color: #000;
  background-color: var(--form-page-bg);
}

.container {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr auto;
  width: min-content;

  background-color: #fff;
  box-shadow: 10px 10px var(--form-shadow);
}

.left {
  width: 350px;
  height: 100%;
  background-color: gray;
  background-size: cover;

  background-image: url(./images/verstappen.jpg);
}

.right {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem;
}

h2 {
  font-size: 1.75rem;
  margin-right: auto;
  font-weight: 1000;
}

form {
  min-width: 300px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
  box-sizing: border-box;

  border: 0px;
  border-radius: 1px;

  font-size: 16px;
  transition: outline-color 0.3s;
}

#password {
  position: relative;
  margin-bottom: 20px;
}
#pw-label {
  position: relative;
}
#pw-label::after {
  content: "At least 6 characters.";
  color: gray;
  font-size: 0.9rem;
  font-weight: normal;
  position: absolute;
  right: 0;
}

button {
  background: var(--form-button);

  color: #fff;
  padding: 12px;
  border: none;
  border-radius: var(--radius-button);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  transition: filter var(--transition-duration);
}
button:hover,
button:focus {
  filter: saturate(1.5);
  color: #eee;
}

.back {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.7rem 1rem;

  text-decoration: none;
  font-weight: 500;

  color: inherit;
  background-color: #fff !important;

  border: 1px solid var(--form-border);
  box-shadow: 5px 5px var(--form-shadow);
}

.back:hover {
  text-decoration: underline;
}

p {
  font-size: 0.95rem;
  margin-top: 0.5rem;
  font-weight: 500;
}
a {
  margin-left: 3px;
  text-decoration: none;
  color: var(--hyperlink-color);
}
a:hover {
  text-decoration: underline;
}

/* form browser validation */

input:valid {
  outline: 2px solid lightgreen;
}
input:invalid {
  outline: 2px solid lightcoral;
}

input:placeholder-shown {
  outline-color: var(--input-border);
  outline-width: 1px;
}

input:focus,
button:focus {
  outline: 2px solid var(--focus-color);
}
/* ----------------------------- */

@media screen and (max-width: 800px) {
  .left {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 420px) {
  .container {
    box-shadow: none;
  }
}
@media screen and (max-width: 396px) {
  .container {
    width: 100vw;
  }
  .right {
    padding: 3rem 0;
  }
  h2 {
    padding: 0 1rem;
    min-width: fit-content;
  }
  form {
    padding: 0 1rem;
    min-width: fit-content;
    width: 100%;
  }
}

@media screen and (max-width: 290px) {
  h2 {
    font-size: 1.5rem;
  }
}
