<link rel="stylesheet" href="/styles/form.css" />
<script src="/js/form.js"></script>

<div class="container">
  <div class="left log-in"></div>
  <div class="right">
    <h2>Log <span>In</span></h2>
    <form action="/login" method="POST" id="create">
      <label for="email" focus>Nombre de Usuario</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder=" "
        autofocus
        required
      /><br />
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder=" "
        required
      />
      <button id="submit-button" type="submit">Log In</button>
      <a href="" class="forgotten-password">Olvidaste tu contraseña?</a>
    </form>
  </div>
</div>
<a class="back" href="/">Go Back</a>
