header {
  background-color: #303030;
}

main {
  padding: 0 5%;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.filter-container {
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-filter {
  min-width: 260px;
  padding: 0.5rem;

  &:focus {
    border-color: var(--focus-color);
    outline: none;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  background-color: var(--table-item-bg);
}

thead {
  background-color: #303030;
}

th,
td {
  padding-left: 0.5rem;
  height: 45px;
}

th {
  width: 200px;

  cursor: pointer;
  position: relative;
}

th:hover:after {
  content: "▼";
  position: absolute;
  right: 10px;
  display: none;
}
th[data-order="asc"]:hover::after {
  content: "▲";
  display: inline;

  cursor: pointer;
}
th[data-order="desc"]:hover::after {
  display: inline;
  cursor: pointer;
}

tr {
  &:nth-of-type(even) {
    background-color: var(--table-even-item-bg);
  }
}

.text {
  text-align: start;
}
.number {
  width: 150px;
  text-align: center;
}
