@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "MonsterRacing";
  src: url("/fonts/MonsterRacing.otf") format("openType");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SuperBrigade";
  src: url("/fonts/SuperBrigadeCondensed-ARwy2.otf") format("openType");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("/images/formula-1.jpg");
  background-size: cover;
}

/* main stylings */

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

main .container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 2rem;

  font-size: 1.5rem;
}

.title {
  text-align: center;
  font-size: 2.5em;

  h1 {
    font-weight: 1000;
    font-family: MonsterRacing;
  }
  p {
    margin-top: -0.25em;
    font-weight: 600;
    font-family: SuperBrigade;
  }
}

.info {
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.home-buttons {
  display: flex;
  gap: 1rem;

  button {
    padding: 0.75rem 0;
    width: 350px;

    color: inherit;
    font-weight: 500;

    background-color: #fa6400;
    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: transform 0.2s;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.standingsContainer {
  width: 100%;
  padding: 0 5%;
  flex-grow: 1;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
}

.standingsContainer > div {
  min-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: scaleX(2010px);

  box-shadow: 0.5rem 0.5rem var(--category);
  &.f1 {
    --category: var(--f1-color);
  }
  &.f2 {
    --category: var(--f2-color);
  }

  max-height: 55px;
  overflow: hidden;
  transition: max-height 0.75s;
  &:hover {
    max-height: 500px;
  }

  > * {
    width: 100%;
  }

  h3 {
    background-color: #303030;
    text-align: center;

    padding: 1rem 0;
  }
}

.standings {
  background-color: #fff;
  color: #000;

  font-size: 1.2rem;

  counter-reset: standings;
}

.category {
  color: var(--category);
}

.driver {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem 1.5rem;

  --points-background: #e9e9e9;
  &:nth-of-type(even) {
    background-color: #ebeaea;
    --points-background: rgb(249, 249, 249);
  }

  &:first-of-type {
    --points-background: gold;
  }
  &:nth-of-type(2) {
    --points-background: silver;
  }
  &:nth-of-type(3) {
    --points-background: #cd7f32;
  }

  &::before {
    counter-increment: standings;
    content: counter(standings) ".";
  }
}

.driver .flag {
  margin-right: auto;
}

.driver .points {
  background-color: var(--points-background);
  font-weight: 800;

  padding: 0.5rem;
  border-radius: 10px;
}

/* footer */

footer {
  padding: 0.25rem;

  color: #fff;
  background-color: #000;
}
